{% extends 'base.html' %}

{% block content %}
<div class="container text-center mt-5">
    <h1>About This Weather App 🌤️</h1>
    <p class="lead mt-3">
    	<strong>Stay ahead of the weather—anywhere, anytime!</strong>
        This web app provides real-time weather updates for any city in the world.  
        It’s built with <strong>Django</strong>, styled using <strong>Bootstrap</strong>, and powered by the <strong>OpenWeather API</strong>.
    </p>

    <hr class="my-4">

    <h3>👩‍💻 About the Developer</h3>
    <p>
        Hi! I’m <strong>#SJ SARANYA</strong>, a Full Stack Web Developer passionate about creating modern, responsive, and interactive web apps.  
        I love combining clean UI design with smart backend logic to build projects that make life simpler.
    </p>

    <h3>💡 Tech Stack Used</h3>
    <ul class="list-unstyled">
        <li>🧠 Django (Python Framework)</li>
        <li>🎨 HTML, CSS, Bootstrap</li>
        <li>🌐 OpenWeatherMap API</li>
    </ul>

    <p class="mt-4 text-muted">Built with ❤️ and a lot of ❤️</p>
</div>
{% endblock %}
